/* this file is left blank on purpose, if developer can't find classes he needs in framework, he can customize his
app adding his own styles here
 */
 
.logo
{
  position: absolute;
  left: 130px;
  top: 20px;
}
.hotdog
{
  position: absolute;
  top: 60px;
  left: 200px;
}

.background
{
  background: #12275B !important;
  border-radius: 48px;
}

.text
{
  font-family: Core Sans C !important;
  font-weight: bold !important;
  color: #C1C8FF !important;
  left: 66px !important;
  float: left !important;
}

.icones
{
  float: right;
  width: 20%;
  height: 20%;
}